@font-face {
  font-family: "abelregular";
  src: url("../abelFont/abel-regular-webfont.eot");
  src: url("../abelFont/abel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../abelFont/abel-regular-webfont.woff") format("woff"), url("../abelFont/abel-regular-webfont.ttf") format("truetype"), url("../abelFont/abel-regular-webfont.svg#abelregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "abelregular", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
  margin-left: 102px;
  margin-right: 108px;
}
header h1 {
  color: #901C1C;
  font-size: 32px;
}

nav {
  display: flex;
  font-size: 14px;
}
nav .tag {
  text-transform: capitalize;
}

.tag {
  font-size: 12px;
  color: #901C1C;
  text-decoration: none;
  border: solid 1px #e1e1e1;
  border-radius: 32px 32px;
  padding: 2px 4px;
  margin-right: 4px;
}
.tag:hover, .tag:focus {
  color: white;
  background: #901C1C;
  border: none;
  cursor: pointer;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

main .presentation {
  display: flex;
  flex-wrap: wrap;
}
main .presentation a {
  text-decoration: none;
}
main .presentation .photograph {
  width: 230px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 68px;
  margin-right: 68px;
}
main .presentation .photograph h2 {
  color: #D3573C;
  font-size: 32px;
  margin-bottom: 6px;
}
main .presentation .photograph p {
  font-size: 12px;
}
main .presentation .photograph .location {
  color: #901C1C;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 4px;
}
main .presentation .photograph .slogan {
  color: black;
  margin-top: 0px;
  margin-bottom: 2px;
}
main .presentation .photograph .price {
  color: #aeaeae;
  margin-top: 2px;
  margin-bottom: 2px;
}
main .presentation .photograph .tag-all {
  display: flex;
  justify-content: center;
}

/* photographer-page */
#photographer-header {
  margin-top: 28px;
}

#photographer-navigation {
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 16px;
  background-color: #FAFAFA;
}
#photographer-navigation #photographer-contact {
  display: flex;
}
#photographer-navigation #photographer-contact #photographer-name {
  color: #D3573C;
  margin-right: 16px;
}
#photographer-navigation #photographer-contact h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}
#photographer-navigation #photographer-contact h2 {
  color: #901C1C;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}
#photographer-navigation #photographer-contact p {
  margin-top: 0px;
  margin-bottom: 10px;
}
#photographer-navigation #photographer-contact .button {
  width: 110px;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 6px 6px;
  padding: 14px 8px;
  outline: none;
}
#photographer-navigation #photographer-contact .button:hover {
  color: black;
  background-color: #dc7b66;
  cursor: pointer;
}

#photographer-main {
  margin-left: 100px;
  margin-right: 22px;
}

#all-album {
  display: flex;
  flex-wrap: wrap;
}
#all-album .album {
  margin-right: 76px;
  margin-bottom: 8px;
}
#all-album .album .image {
  width: 250px;
  height: 250px;
  border-radius: 4px;
}
#all-album .album .image-description {
  display: flex;
  justify-content: space-between;
  width: 250px;
  color: #901C1C;
}
#all-album .album .image-description p, #all-album .album .image-description .fa-heart {
  font-size: 20px;
  margin-top: 4px;
}

#photographer-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #dc7b66;
  width: 270px;
  font-size: 20px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 24px;
  position: sticky;
  bottom: 0px;
}
#photographer-detail #like {
  display: flex;
}
#photographer-detail .fa-heart {
  margin-top: 24px;
  font-size: 16px;
}

#bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.4);
}
#bground #form-modal {
  width: 400px;
  height: auto;
  background-color: #dc7b66;
  padding: 16px 24px;
  border-radius: 4px;
  margin: 5% auto;
}
#bground #form-modal #contact-close {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
#bground #form-modal #contact-close h1 {
  margin: 0px;
  font-size: 40px;
}
#bground #form-modal #contact-close .close-action:hover {
  cursor: pointer;
}
#bground #form-modal #contact-close .fa-times {
  margin-top: 8px;
  color: white;
}
#bground #form-modal .formulaire {
  display: flex;
  flex-direction: column;
}
#bground #form-modal .formulaire label {
  font-size: 24px;
}
#bground #form-modal input {
  border: none;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 8px;
}
#bground #form-modal #message {
  height: 120px;
  margin-bottom: 16px;
}
#bground #form-modal .button {
  width: 110px;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 6px 6px;
  padding: 14px 8px;
  outline: none;
}
#bground #form-modal .button:hover {
  color: black;
  background-color: #dc7b66;
  cursor: pointer;
}

.icon {
  font-size: 40px;
}

#image-modal {
  display: none;
  justify-content: center;
  color: #901C1C;
  object-fit: cover;
}
#image-modal #image-description {
  padding: 0px 24px;
}
#image-modal #image-description .big-image {
  width: 800px;
  height: 600px;
  border-radius: 4px;
  box-shadow: 4px 0px #b8b8b8;
}

#select-menu {
  display: flex;
  margin-bottom: 24px;
}

.select-box {
  width: 15%;
  position: relative;
  display: block;
  font-size: 16px;
  color: white;
  margin-left: 16px;
  border-radius: 4px;
}
.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}
.select-box .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  transition: 0.2s ease;
  color: white;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #901C1C;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  margin-top: 0px;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #901C1C;
}
.select-box__option:hover, .select-box__option:focus {
  color: black;
  background-color: #D3573C;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/*# sourceMappingURL=main.css.map */
