@import "utils/variables";
@import "utils/mixins";
@import "base/fonts";
@import "pages/home";
@import "pages/photographer";

body {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'abelregular', Arial, Helvetica, sans-serif;
}