@import "utils/variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    color: $color-primary;
    font-size: 24px;
  }
}

nav {
  display: flex;
  a {
    color: $color-primary;
    text-decoration: none;
    border: solid 1px $color-tertiary;
    border-radius: 32px 32px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    &:hover, &:focus {
      color: white;
      background: $color-primary;
      outline: none;
    }
  }
}