@font-face {
  font-family: "abelregular";
  src: url("../abelFont/abel-regular-webfont.eot");
  src: url("../abelFont/abel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../abelFont/abel-regular-webfont.woff") format("woff"), url("../abelFont/abel-regular-webfont.ttf") format("truetype"), url("../abelFont/abel-regular-webfont.svg#abelregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "abelregular", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
  margin-left: 102px;
  margin-right: 108px;
}
header h1 {
  color: #901C1C;
  font-size: 32px;
}

nav {
  display: flex;
  font-size: 14px;
}
nav .tag {
  text-transform: capitalize;
}

.tag {
  font-size: 12px;
  color: #901C1C;
  text-decoration: none;
  border: solid 1px #FAFAFA;
  border-radius: 32px 32px;
  padding: 0px 4px 2px 4px;
  margin-left: 2px;
  margin-right: 2px;
}
.tag:hover, .tag:focus {
  color: white;
  background: #901C1C;
  border: none;
  cursor: pointer;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

main .presentation {
  display: flex;
  flex-wrap: wrap;
}
main .presentation a {
  text-decoration: none;
}
main .presentation .photograph {
  width: 230px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 68px;
  margin-right: 68px;
}
main .presentation .photograph h2 {
  color: #D3573C;
  font-size: 32px;
  margin-bottom: 6px;
}
main .presentation .photograph p {
  font-size: 12px;
}
main .presentation .photograph .location {
  color: #901C1C;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 4px;
}
main .presentation .photograph .slogan {
  color: black;
  margin-top: 0px;
  margin-bottom: 2px;
}
main .presentation .photograph .price {
  color: #aeaeae;
  margin-top: 2px;
  margin-bottom: 2px;
}
main .presentation .photograph .tag-all {
  display: flex;
  justify-content: center;
}

/* photographer-page */
#photographer-header {
  margin-top: 28px;
  margin-bottom: 24px;
}

#photographer-navigation {
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 16px;
  background-color: #FAFAFA;
}
#photographer-navigation #photographer-contact {
  display: flex;
}
#photographer-navigation #photographer-contact #photographer-name {
  color: #D3573C;
}
#photographer-navigation #photographer-contact h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}
#photographer-navigation #photographer-contact h2 {
  color: #901C1C;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}
#photographer-navigation #photographer-contact p {
  margin-top: 0px;
  margin-bottom: 8px;
}
#photographer-navigation #photographer-contact #button {
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 6px 6px;
  padding: 14px 8px;
  outline: none;
}
#photographer-navigation #photographer-contact #button:hover {
  background-color: #bb2424;
  cursor: pointer;
}

#photographer-main {
  margin-left: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  padding-right: 32px;
  padding-left: 2px;
  margin-bottom: 48px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px 4px;
  left: 90px;
  top: -8px;
}
.dropdown-content .underline {
  padding-bottom: 16px;
  border-bottom: solid 2px #FAFAFA;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #bb2424;
  border-radius: 4px 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  cursor: pointer;
}

#all-album {
  display: flex;
  flex-wrap: wrap;
}
#all-album .album {
  margin-right: 76px;
  margin-bottom: 8px;
}
#all-album .album .image {
  width: 250px;
  height: 250px;
  border-radius: 4px 4px;
}
#all-album .album .image-description {
  display: flex;
  justify-content: space-between;
  width: 250px;
  color: #901C1C;
}
#all-album .album .image-description p, #all-album .album .image-description .fa-heart {
  font-size: 20px;
  margin-top: 4px;
}

/*# sourceMappingURL=main.css.map */
